body {
    width: 80%;
    background: hsl(34, 30%, 82%);
    color: hsl(8, 8%, 8%);
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

div {
    width: 80%;
    margin: auto;
    padding-left: 5%;
    border: 4px solid hsl(32, 30%, 69%);
    border-radius: 2px;
    background: hsl(43, 32%, 91%);
}

h1,
h4 {
    font-family: Georgia, serif;
    color: hsl(200, 15%, 35%);
    font-size: 24px;
}

li {
    font-family: Verdana, sans-serif;
}

ol li {
    color: hsl(200, 15%, 35%);
    font-weight: 600;
    font-size: 20px;
}

li p {
    color: hsl(8, 8%, 8%);
    font-weight: normal;
    font-size: 18px;
}

a {
    text-decoration: none;

}

a:hover {
    font-size: 1.2em;
    color: hsl(240, 100%, 27%);
    text-decoration: underline;
}

footer {
    padding-bottom: 30px;
    padding-top: 15px;
}